# Ignorar carpetas de builds de Spring (Backend)
/backend/target/

# Ignorar carpetas de builds de React (Frontend)
/frontend/node_modules/
/frontend/build/

# Ignorar logs
*.log
*.log.*

# Ignorar archivos de IDE (IntelliJ, VS Code)
.idea/
*.iml
.vscode/

# Ignorar archivos de sistema (Mac/Windows)
.DS_Store
Thumbs.db
